a{
    background-color: rgb(226, 86, 43);
    height: 200px;
    width: 150px;
    display: block;
    border: 1px solid black;
}
div{
    background-color: aqua;
    height: 150px;
    width: 150px;
    display: inline;
}